@import "./assets/buttons.css";


body {
    background-color: white;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-link {
    font-size: large;
    font-weight: 400;
    color: #475569;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
}

.nav-item {
    margin-left: 1rem;
}